body {
    margin: 0;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.ptSansBold {
    font-family: 'PT Sans', BOLD;
}

.d-none {
    display: none;
}

.marginTop {
    margin-top: 0;
}

.marginBottom {
    margin-bottom: 0rem;
}

:root {
    --bgStandard: blue;
    --bgWhite: white;
    --bgGray: #eeeeee;
    --bgchevron: #aeaeae;
    --bgAqua: aqua;
}

.header {
    background-color: var(--bgStandard);
    padding: 1rem;
    padding: clamp()
}


/* -----------------------------------------------------------Navbar Container------------------------------------------ */

.mainContainer {
    display: flex;
    height: 100vh;
}

.navBar {
    background-color: var(--bgStandard);
    color: var(--bgWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

.hover {
    padding-left: 2.5rem;
    border-left-width: 0.4rem;
    border-left-style: solid;
    border-color: var(--bgStandard);
}

.hover:hover {
    cursor: pointer;
    border-left-style: solid;
    border-width: 0.4rem;
    transition: all 225ms ease-in-out;
    border-color: var(--bgWhite);
}

.logoContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.imgContainer {
    margin-bottom: 2rem;
}

.imgAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    border-color: white;
    border-style: solid;
}


/* -----------------------------------------------------------Content Container Add Task-------------------------------- */

.mainContent {
    height: 100vh;
    padding-left: 1rem;
    padding-top: 2.5rem;
}

.content {
    background-color: var(--bgGray);
    padding: 2rem;
    margin-top: 2.5rem;
    display: flex;
}

.span {
    margin-bottom: 0.8rem;
    color: var(--bgStandard);
}

.textfield {
    width: 18rem;
    height: 2rem;
}

.chevron {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: var(--bgchevron);
    border-width: 0.1rem;
    cursor: pointer;
}

.imgContainer2 {
    display: flex;
    align-items: center;
}

.imgAvatar2 {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    object-fit: cover;
}

.logo {
    width: 2rem;
    height: 2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.btnContainer {
    margin-top: 1rem;
    padding-left: 4rem;
}

.btn {
    width: 8rem;
    height: 3rem;
    border-radius: 0.7rem;
    font-weight: bold;
    color: var(--bgStandard);
    background-color: var(--bgGray);
    cursor: pointer;
    border-style: hidden;
}

.btn:hover {
    color: var(--bgWhite);
    background-color: var(--bgStandard);
}


/* -------------------------------------------------------Content Container Backlog------------------------------------- */

.contentBacklog {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--bgStandard);
    width: 73rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 72rem;
    margin-top: 1rem;
    background-color: var(--bgGray);
    padding: 1rem;
    border-radius: 1rem;
    border-left-width: 0.75rem;
    border-left-style: solid;
    border-left-color: var(--bgAqua);
    margin-bottom: 0.75rem;
}

.imgContainer3 {
    display: flex;
    align-items: center;
    width: 24.3rem;
}

.department {
    width: 34.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 24.3rem;
    text-align: start;
    display: flex;
    align-items: center;
}


/* -------------------------------------------------------Content Container Board------------------------------------- */

.mainBoardContainer {
    display: flex;
    justify-content: space-between;
    width: 73rem;
    text-align: center;
    padding-left: 2rem;
}

.boardContainer {
    width: 16rem;
    height: 60rem;
    background-color: var(--bgGray);
}