body {
    margin: 0;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.ptSansBold {
    font-family: 'PT Sans', BOLD;
}

.d-none {
    display: none;
}

.marginTop {
    margin-top: 0;
}

.marginBottom {
    margin-bottom: 0rem;
}

:root {
    --bgStandard: blue;
    --bgWhite: white;
    --bgGray: #eeeeee;
    --bgLightBlue: #f4f3fb;
    --bgchevron: #aeaeae;
    --bgMarketing: aqua;
    --bgSale: #08ff00;
    --bgProduct: #fff300;
    --bgService: #ff0000;
    --bgDesign: #aa00ff;
}

.header {
    background-color: var(--bgStandard);
    padding: 1rem;
    padding: clamp()
}


/* -----------------------------------------------------------Navbar Container------------------------------------------ */

.mainContainer {
    display: flex;
    height: 100vh;
}

.navBar {
    background-color: var(--bgStandard);
    color: var(--bgWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    position: fixed;
    height: 100vh;
}

.hover {
    padding-left: 2.5rem;
    border-left-width: 0.4rem;
    border-left-style: solid;
    border-color: var(--bgStandard);
}

.hover:hover {
    cursor: pointer;
    border-left-style: solid;
    border-width: 0.4rem;
    transition: all 225ms ease-in-out;
    border-color: var(--bgWhite);
}

.logoContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.imgContainer {
    margin-bottom: 2rem;
}

.imgAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    border-color: white;
    border-style: solid;
}


/* -----------------------------------------------------------Content Container Add Task-------------------------------- */

.mainContent {
    height: 100vh;
    padding-left: 1rem;
    padding-top: 2.5rem;
    margin-left: 10rem;
}

.content {
    background-color: var(--bgLightBlue);
    padding: 2rem;
    margin-top: 2.5rem;
    display: flex;
    border-radius: .8rem;
}

.span {
    margin-bottom: 0.8rem;
    color: var(--bgStandard);
}

select {
    -moz-appearance: none;
    width: 330px;
    height: 2.5rem;
    background-color: var(--bgWhite);
    background-image: url(logo/chevron\ .png);
    background-position: calc(100% - .7rem);
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
}

.calendar{
    -moz-appearance: none;
    width: 330px;
    height: 2.5rem;
    background-color: var(--bgWhite);
    background-image: url(logo/icons8-calendar-150.png);
    background-position: calc(100% - .7rem);
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
}

.imgContainer2 {
    display: flex;
    align-items: center;
}

.imgAvatar2 {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    object-fit: cover;
}

.logo {
    width: 2rem;
    height: 2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.btnContainer {
    margin-top: 1rem;
    padding-left: 4rem;
}

.btn {
    width: 8rem;
    height: 3rem;
    border-radius: 0.7rem;
    font-weight: bold;
    color: var(--bgStandard);
    background-color: var(--bgLightBlue);
    cursor: pointer;
    border-style: hidden;
}

.btn:hover {
    color: var(--bgWhite);
    background-color: var(--bgStandard);
}

.drpDown {
    appearance: none;
    padding-left: 1rem;
    border-radius: .2rem;
}

.textarea {
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
}

.borderRadius {
    border-radius: .2rem;
}

.borderRadiusLeft {
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem;
}

.borderGrey {
    border: solid .12rem #d8d8d8;
}

.hideDateIcon::-webkit-calendar-picker-indicator {
    position: relative;
    top: .6rem;
    right: .2rem;
    background: url(logo/icons8-calendar-150.png) no-repeat;
    background-size: 18px 18px;
    width: 20px;
    height: 35px;
}

.inputDimensions {
    width: 100%;
    height: 2.5rem;
}

.right,
.left {
    width: 330px;
}


/* -------------------------------------------------------Content Container Backlog------------------------------------- */

.contentBacklog {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--bgStandard);
    width: 73rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 72rem;
    margin-top: 1rem;
    background-color: var(--bgLightBlue);
    padding: 1rem;
    border-radius: 1rem;
    border-left-width: 0.75rem;
    border-left-style: solid;
    border-left-color: var(--bgMarketing);
    margin-bottom: 0.75rem;
}

.imgContainer3 {
    display: flex;
    align-items: center;
    width: 24.3rem;
}

.row {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.department {
    width: 34.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 24.3rem;
    text-align: start;
    display: flex;
    align-items: center;
}


/* -------------------------------------------------------Content Container Board------------------------------------- */

.boardContainer {
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainBoardContainer {
    display: flex;
    text-align: center;
    padding-left: 2rem;
}

.boardColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    width: 16rem;
    background-color: var(--bgLightBlue);
}

.singleCard {
    width: 13rem;
    min-height: 10rem;;
    background-color: var(--bgWhite);
    box-shadow: var(--bgchevron) 1px 2px 5px;
    margin: 1rem 0rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
}

.mainconntainer {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.singleCardWrapper {
    position: relative;
}

.singleCardDate {
    /* position: absolute;
    left: 1rem;
    top: 1.2rem; */
    color: var(--bgchevron);
    font-size: 80%;
    display: flex;
    justify-content: flex-start;
}

.categoryAndImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;;

}

.categoryAndImg img {
    height: 2rem;
    width: 2rem;
}

.singleCardCategory {
    border: var(--bgWhite) 1px;
    background-color: var(--bgStandard);
    color: var(--bgWhite);
    padding: .3rem 1rem;
    border-radius: .5rem;
}

h3 {
    text-align: start;
    margin: .3rem 0 0 0;
    /* padding-top: 1.7rem; */
}

.singleCardDescription {
    color: var(--bgchevron);
    text-align: start;
}