body {
    margin: 0;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.ptSansBold {
    font-family: 'PT Sans', BOLD;
}

.d-none {
    display: none!important;
}

.marginTop {
    margin-top: 0;
}

.marginBottom {
    margin-bottom: 0rem;
}

:root {
    --bgStandard: #1e3190;
    --bgWhite: white;
    --clorNAVfont: #d8d8d8;
    --bgGray: #eeeeee;
    --bgLightBlue: #f4f3fb;
    --bgLightBlueHover: #EAE9F1;
    --bgchevron: #aeaeae;
    /* Category Color */
    --bgMarketing: aqua;
    --bgSale: #08ff00;
    --bgService: #ff0000;
    --bgDesign: #aa00ff;
    --bgManagment: #676767;
    --bgInhouse: #ff8300;
    --bgDevelopment: #0008ff;
    --bgHumanRessources: #f502fc;
    /* urgency Color */
    --bgVeryImportant: red;
    --bgIMportant: yellow;
    --bgNotSoImportant: green;
}

.header {
    background-color: var(--bgStandard);
    padding: 1rem;
    padding: clamp()
}


/* -----------------------------------------------------------Navbar Container------------------------------------------ */

.mainContainer {
    display: flex;
    height: 100vh;
}

.navBar {
    background-color: var(--bgStandard);
    color: var(--clorNAVfont);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    position: fixed;
    height: 100vh;
}

.menuStripesWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: var(--bgWhite);
    z-index: 100;
    box-shadow: 1px -3px 5px 1px rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuStripesWrapper img {
    height: 0;
    margin-right: 1rem;
}

.menuStripes {
    display: flex;
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    height: 1.5rem !important;
}

@media(max-width: 1150px) {
    .navBar {
        display: none;
    }
    .marginTop {
        margin-top: 1rem;
    }
    .menuStripesWrapper {
        height: 3.4rem;
    }
    .menuStripesWrapper img {
        height: 2.5rem;
    }
}

.menuBand {
    background-color: var(--bgStandard);
    color: var(--clorNAVfont);
    position: fixed;
    left: 0;
    top: 3.4rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: calc(100vh - 3.4rem);
    transform: translateX(-10rem);
    transition: all 225ms ease-in-out;
}

.showMenuBand {
    transform: translateX(0) !important;
}

.overlayerMenuBand {
    background-color: var(--bgStandard);
    opacity: .5;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hover {
    padding-left: 2rem;
    border-left-width: 0.4rem;
    border-left-style: solid;
    border-color: var(--bgStandard);
    font-size: 400;
    margin-bottom: .8rem;
}

.hover:hover {
    cursor: pointer;
    border-left-style: solid;
    border-width: 0.4rem;
    transition: all 225ms ease-in-out;
    border-color: var(--bgWhite);
    color: var(--bgWhite);
}

.logoContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.footerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.imgContainer {
    margin-bottom: 1rem;
}

.imgAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    border-color: white;
    border-style: solid;
}

.linkContainer {
    height: 2.833rem;
    margin-bottom: 2rem;
}

a {
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}


/* -----------------------------------------------------------Content Container Add Task-------------------------------- */

.addTask_container {
    margin-left: 0;
}

@media(max-width: 1150px) {
    .addTask_container {
        margin-top: 3.5rem;
    }
}

.pageContainerHeader {
    margin-left: 6rem;
}

@media(max-width: 400px) {
    .pageContainerHeader span {
        font-size: 80%;
    }
}

.mainContent {
    height: 100vh;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    margin-left: 10rem;
    /* width: 100%; */
}

.content {
    background-color: var(--bgLightBlue);
    padding: 2rem;
    margin-top: 2.5rem;
    display: flex;
    border-radius: .8rem;
    width: fit-content;
}

@media(max-width: 1150px) {
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .contentWrapper {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .mainContent {
        margin-left: 0rem;
        padding: 0;
        margin-top: 4.5rem;
        /* overflow-y: hidden; */
    }
}

@media(max-width: 600px) {
    .mainContent {
        margin-left: 0rem;
    }
    .content {
        padding: 1.5rem;
        position: absolute;
        flex-direction: column;
        right: 0;
        left: 0;
        width: calc(100vw - 3rem);
        border-radius: 1rem;
        overflow-y: hidden;
    }
}

.span {
    margin-bottom: 0.8rem;
    color: var(--bgStandard);
}

select {
    width: -webkit-fill-available;
    -moz-appearance: none;
    width: -moz-available;
    height: 2.5rem;
    background-color: var(--bgWhite);
    background-image: url(logo/chevron\ .png);
    background-position: calc(100% - .7rem);
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-family: 'PT Sans', sans-serif;
}

.calendar::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.calendar {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-appearance: none;
    width: -moz-available;
    height: 2.5rem;
    background-color: var(--bgWhite);
    background-image: url(logo/icons8-calendar-150.png);
    background-position: calc(100% - .7rem);
    background-repeat: no-repeat;
    background-size: 1rem;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
}

@media(max-width: 600px) {
    .calendar {
        width: calc(80vw - 1rem) !important;
    }
}

.imgContainer2 {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.imgAvatar2 {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    object-fit: cover;
}

.imgAvatar3 {
    width: 4rem;
    height: 4rem;
    border-radius: 180px;
    object-fit: cover;
    border-style: solid;
    border-width: revert;
    border-color: var(--bgDesign);
    cursor: pointer;
}

@media(max-width: 600px) {
    .imgAvatar2 {
        width: 3rem;
        height: 3rem;
    }
    .imgAvatar3 {
        width: 3rem;
        height: 3rem;
    }
}

.logo {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.memberBtnContainer {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 600px) {
    .memberBtnContainer {
        flex-direction: column;
        align-items: flex-start;
    }
}

.chooseMember {
    width: 9rem;
}

.userContainer {
    display: flex;
    justify-content: space-between;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
}

.btnContainer {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: end;
}

@media(max-width: 600px) {
    .btnContainer {
        justify-content: start;
        margin-left: 0;
    }
}

.btn {
    width: 8rem;
    height: 3rem;
    border-radius: 0.7rem;
    font-weight: bold;
    color: var(--bgStandard);
    background-color: var(--bgLightBlue);
    cursor: pointer;
    border-style: hidden;
}

.btn:hover {
    color: var(--bgWhite);
    background-color: var(--bgStandard);
}

.drpDown {
    appearance: none;
    padding-left: 1rem;
    border-radius: .2rem;
    min-width: 13rem;
}

.textarea {
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
}

@media(max-width: 600px) {
    .textarea {
        width: calc(80vw - 2rem);
    }
    .drpDown {
        width: 80vw;
    }
}

.borderRadius {
    border-radius: .2rem;
}

.borderRadiusLeft {
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem;
}

.borderGrey {
    border: solid .12rem #d8d8d8;
}

.hideDateIcon::-webkit-calendar-picker-indicator {
    position: relative;
    top: .6rem;
    right: .2rem;
    background: url(logo/icons8-calendar-150.png) no-repeat;
    background-size: 18px 18px;
    width: 20px;
    height: 35px;
}

.inputDimensions {
    width: -webkit-fill-available;
    height: 2.5rem;
    padding-left: 1rem;
    width: -moz-available;
    font-family: 'PT Sans', sans-serif;
}

@media(max-width: 600px) {
    .inputDimensions {
        width: 80vw;
    }
}

@media(max-width: 500px) {
    .inputDimensions {
        width: 80vw;
    }
}

.right,
.left {
    width: 26rem;
}

.placeholderColor::-webkit-input-placeholder {
    color: red
}

.datePlaceholderColor {
    color: red;
    font-weight: bold;
}


/* -------------------------------------------------------Content Container Backlog------------------------------------- */

.contentBacklog {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--bgStandard);
    width: 70vw;
}

@media(max-width: 1150px) {
    .backlog_container {
        margin-top: 3.4rem;
    }
    .contentBacklog {
        width: 80vw;
    }
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 1rem;
    background-color: var(--bgLightBlue);
    padding: 1rem;
    border-radius: 1rem;
    border-left-width: 0.75rem;
    border-left-style: solid;
    border-left-color: var(--bgMarketing);
    margin-bottom: 0.75rem;
}

.infoContainer:hover {
    background-color: var(--bgLightBlueHover);
    cursor: pointer;
}

.imgContainer3 {
    display: flex;
    align-items: center;
    width: 24.3rem;
}

.email{
    color: var(--bgStandard);
}

.row {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.department {
    width: 34.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1150px) {
    .infoContainer {
        margin-left: calc(7.5vw - 1.5rem);
        width: 85vw;
        justify-content: flex-start;
    }
    .row,
    .contentBacklog,
    .department {
        display: none;
    }
    .imgContainer3 {
        width: 5rem;
        margin-right: 1rem;
    }
}

.details {
    width: 24.3rem;
    text-align: start;
    display: flex;
    align-items: center;
}

@media(max-width: 400px) {
    .details span {
        font-size: 80%;
    }
}

.emptyBacklog {
    color: rgba(255, 0, 0, 0.698);
    width: 60rem;
    height: 40rem;
    background-color: var(--bgLightBlue);
    text-align: center;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 2rem;
    left: 8rem;
}

@media(max-width: 1150px) {
    .emptyBacklog {
        position: absolute;
        flex-direction: column;
        right: 2rem;
        left: 2rem;
        top: 10rem;
        width: calc(100vw - 4rem);
        border-radius: 1rem;
        overflow-y: hidden;
        height: 30rem;
    }
}


/* -------------------------------------------------------Content Container Board------------------------------------- */

.boardContainer {
    display: flex;
    width: 100%;
}

.mainBoardContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    display: flex;
}


/* @media(max-width: 1150px) {
    .boardContainer {
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    .mainBoardContainer {
        width: calc(100vw - 2rem);
        display: flex;
    }
} */

@media(max-width: 1000px) {
    .boardContainer {
        flex-wrap: wrap;
        margin-top: 4rem;
    }
    .mainBoardContainer {
        padding-left: 0rem;
        padding-right: 0rem;
        margin: 1rem 0rem;
    }
}

.boardColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80%;
    /* margin: 1rem; */
    width: 100%;
    background-color: var(--bgLightBlue);
}

.boardColumnHighlight {
    background-color: var(--bgLightBlueHover) !important;
}


/* .boardContainer {
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.mainBoardContainer {
    display: flex;
    text-align: center;
    padding-left: 2rem;
    width: 100%;
}

.boardColumnHighlight {
    background-color: var(--bgLightBlueHover) !important;
}

.boardColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background-color: var(--bgLightBlue);
} */

.singleCard {
    width: 80%;
    max-width: 30rem;
    min-height: 10rem;
    background-color: var(--bgWhite);
    box-shadow: var(--bgchevron) 1px 2px 5px;
    margin: 1rem 0.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    border-left-style: solid;
    border-left-width: 0.75rem;
    border-color: var(--bgVeryImportant);
    cursor: grab;
    position: relative;
}

.dateAndTrash {
    display: flex;
    justify-content: space-between;
}

.trashImg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.mainconntainer {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.singleCardWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleCardDate {
    /* position: absolute;
    left: 1rem;
    top: 1.2rem; */
    color: var(--bgchevron);
    font-size: 80%;
    display: flex;
    justify-content: flex-start;
}

.categoryAndImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    ;
}

.categoryAndImg img {
    height: 2rem;
    width: 2rem;
}

.singleCardCategory {
    border: var(--bgWhite) 1px;
    background-color: var(--bgStandard);
    color: var(--bgWhite);
    padding: .3rem 1rem;
    border-radius: .5rem;
    width: min-content;
}

h3 {
    text-align: start;
    margin: 0;
    /* padding-top: 1.7rem; */
}

.singleCardDescription {
    color: var(--bgchevron);
    text-align: start;
}

.moveToOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: hsla(238, 100%, 50%, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
    z-index: 5;
    color: var(--bgWhite);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
}

.moveToOverlayClose {
    position: absolute;
    top: -.7rem;
    left: -.7rem;
    border: var(--bgStandard) 2px solid;
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    background-color: var(--bgWhite);
    color: var(--bgStandard);
    font-weight: bold;
}

.arrowRight {
    display: none;
}

@media(max-width: 1150px) {
    .arrowRight {
        display: block;
    }
}


/* -------------------------------------------------Content Container Help----------------------------------------------------------------- */

.content2 {
    padding: 2rem;
    margin-top: 2.5rem;
    border-radius: .8rem;
    width: 55rem;
}

.helpCard {
    background-color: var(--bgLightBlue);
    height: 4rem;
    border-radius: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    height: fit-content;
}

.openContent {
    justify-content: space-between;
    display: flex;
    width: -moz-available;
    align-items: center;
}

.contentHelp {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 255ms;
}

.rotate {
    cursor: pointer;
}

.helpImg {
    height: 8rem;
    padding-top: 1rem;
    cursor: pointer;
}

.helpImg:hover {
    transition: 0.5s ease-in-out;
    transform: scale(4.5);
}


/* ---------------------------------------------------------------Impressum--------------------------------------------------------- */

.impressumContainer {
    width: 100%;
}

.impressum {
    width: 100%;
    height: 90rem;
}


/* -------------------------------------------------------------Datenschutz--------------------------------------------------------- */

.datenschutzContainer {
    width: 100%;
}

.datenschutz {
    width: 100%;
    height: 290rem;
}